<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script src="./node_modules/lodash/lodash.min.js"></script>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="app">
        <ul v-for="(item,index) in skip(colors)">
            <li v-for="(color,index) in item" :style="{background:color}"></li>
        </ul>
    </div>
    <script src="./index.js"></script>
</body>
</html>